server:
  port: 8081

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/oxxo?useSSL=false&serverTimezone=America/Lima
    username: root
    password: andres123
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: never

  flyway:
    enabled: false

logging:
  level:
    org.springframework.security: info
    org.hibernate.SQL: warn

reniec:
  # Endpoint de Decolecta
  url: "https://api.decolecta.com/v1/reniec/dni"
  # tu API KEY de Decolecta
  token: "sk_12177.PGw0l8NNJGOdpBwvcjjUT9fnswjGeSfR"
